/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
  outline: none;
}

/* Base styles */
.app {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: white;
  width: 100vw;
  height: 100vh;
}
.app__container {
  display: flex;
  height: calc(100vh - 55px);
}

/* Styles */

/* Keyframes */
@keyframes fade-in-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-in-left-right {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Header */
.header {
  background-image: linear-gradient(to right, #18a0be, #622db9);
  height: 55px;
  display: flex;
}
.logo {
  align-self: center;
  margin-right: 30px;
  margin-left: 20px;
  animation: fade-in-top-bottom 0.5s;
}
.dd-toggle {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 13px;
  cursor: pointer;
  transition: all 0.2s;
  animation: fade-in-top-bottom 0.5s;
}
.dd-toggle:focus,
.dd-toggle:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.07);
}
.dd-toggle:last-child {
  display: flex;
  align-items: center;
}
.dd-toggle:nth-of-type(4) {
  margin-left: auto;
}
.dd-toggle__img {
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

/* Sidebar */
.sidebar {
  background-color: #10171a;
  width: 75px;
  display: flex;
  flex-direction: column;
}
.menu__button {
  padding: 19px 0;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 0.3s;
  animation: fade-in-left-right 0.5s;
}
.menu__button__active {
  background-color: #2b363b;
  color: #fff;
  position: relative;
}
.menu__button__active::before {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #375bb6;
  height: 100%;
  left: 0;
  top: 0;
}
.menu__button:hover,
.menu__button:focus {
  background-color: #2b363b;
  color: #fff;
  cursor: pointer;
}
.menu__icon {
  font-size: 18px;
  margin-bottom: 3px;
}
.menu__text {
  font-weight: 500;
  font-size: 12px;
}
.footer {
  margin-top: auto;
  margin-bottom: 60px;
  color: rgba(255, 255, 255, 0.15);
  transform: rotate(-90deg);
  white-space: nowrap;
}

/* Panel */
.panel {
  background-color: #2b363c;
  width: 350px;
  padding: 15px 31px;
}
.panel__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #4b5155;
  padding-bottom: 12px;
}
.panel__collapse-icon {
  color: #6b7276;
  cursor: pointer;
}
.panel-heading {
  font-size: 18px;
  font-weight: 400;
}
.panel__images {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.panel__img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 7px;
  transition: all 0.2s;
  animation: fade-in 1s;
}
.panel__img:nth-child(2) {
  animation: fade-in 1s 0.1s backwards;
}
.panel__img:nth-child(3) {
  animation: fade-in 1s 0.2s backwards;
}
.panel__img:nth-child(4) {
  animation: fade-in 1s 0.3s backwards;
}
.panel__img:nth-child(5) {
  animation: fade-in 1s 0.4s backwards;
}
.panel__img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.panel__btn {
  width: 140px;
  height: 140px;
  border-radius: 7px;
  background-color: #333e44;
  cursor: pointer;
  animation: fade-in 1s 0.5s backwards;
}
.panel__btn:hover,
.panel__btn:focus {
  background-color: #404c52;
  transition: all 0.2s;
}

.panel__upload-icon {
  font-size: 25px;
  color: #21292d;
}

/* main */
.main {
  background-color: #edf1f3;
  flex: 1;
}
