* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
  outline: none;
}

.app {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: white;
  width: 100vw;
  height: 100vh;
}

.header {
  background-image: linear-gradient(to right, #18a0be, #622db9);
  height: 55px;
  display: flex;
}
.logo {
  align-self: center;
  margin-right: 30px;
  margin-left: 20px;
}
.dd-toggle {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 13px;
  cursor: pointer;
  transition: all 0.2s;
}
.dd-toggle:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.07);
}
.dd-toggle:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.07);
}
.dd-toggle:last-child {
  display: flex;
  align-items: center;
}
.dd-toggle:nth-of-type(4) {
  margin-left: auto;
}
.dd-toggle__img {
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
